@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  #animate-slide-in-top {
    animation: slideInFromTop 1s ease-in-out;
    border-radius: 10px;
  }
  .centered-button {
    width: 100px;
    color: white;
    padding: 3px;
    text-align: center;
    border: 1.5px solid white;
    border-radius: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
  width: 100px;
  color: white;
  padding: 3px; 
  text-align: center;
  border:1.5px solid white;
  border-radius: 10px;  
 
}
