<section id="personCard" class="mt-20">
  <div
    #topSection
    [@scrollAnimationTop]="stateTop"
    class="flex flex-col justify-between rounded-xl items-center border-2 border-white p-10 w-[300px] h-[350px] mt-3"
  >
    <div>
      <h1 class="text-white font-bold">Name:{{ person.name }}</h1>
      <hr />
      <p class="text-white">Gender:{{ person.gender }}</p>
      <p class="text-white">Birth Year:{{ person.birth_year }}</p>
      <p class="text-white">Height:{{ person.height }}</p>
      <p class="text-white">Mass:{{ person.mass }}</p>
    </div>
    <button
      class="w-[100px] p-[3px] text-center border-[1.5px] rounded-[10px] text-white"
      [routerLink]="['/people', person.url]"
    >
      More details
    </button>
  </div>
</section>
